<div class="main">
  <mat-card class="card">
    <div class="mat-headline">Конвертер валют:</div>
    <form [formGroup]="convertForm" (ngSubmit)="submit()">

      <mat-form-field class="field" appearance="fill">
        <mat-label>Выберите первую валюту</mat-label>
        <mat-select name="firstTicker" formControlName="firstTicker" required>
          <mat-option *ngFor="let valute of valutes" [value]="valute.ticker + ' ' + valute.rate">
            {{valute.ticker}} - {{valute.rate}} руб.
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="field" appearance="fill">
        <mat-label>Выберите вторую валюту</mat-label>
        <mat-select name="secondTicker" formControlName="secondTicker" required>
          <mat-option *ngFor="let valute of valutes" [value]="valute.ticker + ' ' + valute.rate">
            {{valute.ticker}}  - {{valute.rate}} руб.
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="field">
        <mat-label>Количество переводимых единиц</mat-label>
        <input type="number" name="quantity" formControlName="quantity" matInput required>
        <mat-error *ngIf="convertForm.invalid">
          Можно вводить только цифры
        </mat-error>
      </mat-form-field>

      <button type="submit" color="primary" class="button" mat-raised-button [disabled]="(updateData$ | async) || convertForm.invalid">
        Конвертировать
      </button>

    </form>

    <mat-card class="card main" *ngIf="convertResult != 0">
      <div class="mat-headline">Результат: {{convertResult | number: '.4'}} {{convertResultTicker}}</div>
    </mat-card>

  </mat-card>

  <mat-card class="card">
    <div class="mat-headline">История конвертаций:</div>
    <mat-form-field class="field">
      <input (keyup)="applyFilter($any($event).target.value)" matInput placeholder="Фильтр">
    </mat-form-field>
    <div class="mat-elevation-z8" style="overflow: auto">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="firstValuteTicker">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Валюта 1</th>
          <td mat-cell *matCellDef="let element"> {{element.firstValuteTicker}} </td>
        </ng-container>

        <ng-container matColumnDef="firstValuteRateToRub">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Курс 1</th>
          <td mat-cell *matCellDef="let element"> {{element.firstValuteRateToRub}} </td>
        </ng-container>

        <ng-container matColumnDef="firstValuteQuantity">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Кол. 1</th>
          <td mat-cell *matCellDef="let element"> {{element.firstValuteQuantity}} </td>
        </ng-container>

        <ng-container matColumnDef="secondValuteTicker">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Валюта 2</th>
          <td mat-cell *matCellDef="let element"> {{element.secondValuteTicker}} </td>
        </ng-container>

        <ng-container matColumnDef="secondValuteRateToRub">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Курс 2</th>
          <td mat-cell *matCellDef="let element"> {{element.secondValuteRateToRub}} </td>
        </ng-container>

        <ng-container matColumnDef="secondValuteQuantity">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Кол. 2</th>
          <td mat-cell *matCellDef="let element"> {{element.secondValuteQuantity  | number: '.4'}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Дата</th>
          <td mat-cell *matCellDef="let element"> {{element.date  | date:'dd.MM.yyyy'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card>

  <mat-card class="card">
    <div class="mat-headline">Статистика за неделю для переводимых валют:</div>
    <div class="mat-elevation-z8" style="overflow: auto">
      <table mat-table [dataSource]="dataSourceStatistics1">

        <ng-container matColumnDef="ticker">
          <th mat-header-cell *matHeaderCellDef>Валюта</th>
          <td mat-cell *matCellDef="let element"> {{element[0]}} </td>
        </ng-container>

        <ng-container matColumnDef="avgRate">
          <th mat-header-cell *matHeaderCellDef>Средний курс</th>
          <td mat-cell *matCellDef="let element"> {{element[1]}} </td>
        </ng-container>

        <ng-container matColumnDef="sumQuantity">
          <th mat-header-cell *matHeaderCellDef>Всего переведено</th>
          <td mat-cell *matCellDef="let element"> {{element[2]}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsStatistics1"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsStatistics1;"></tr>
      </table>
<!--      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>-->
    </div>
  </mat-card>

  <mat-card class="card">
    <div class="mat-headline">Статистика за неделю для получаемых валют:</div>
    <div class="mat-elevation-z8" style="overflow: auto">
      <table mat-table [dataSource]="dataSourceStatistics2">

        <ng-container matColumnDef="ticker">
          <th mat-header-cell *matHeaderCellDef>Валюта</th>
          <td mat-cell *matCellDef="let element"> {{element[0]}} </td>
        </ng-container>

        <ng-container matColumnDef="avgRate">
          <th mat-header-cell *matHeaderCellDef>Средний курс</th>
          <td mat-cell *matCellDef="let element"> {{element[1]}} </td>
        </ng-container>

        <ng-container matColumnDef="sumQuantity">
          <th mat-header-cell *matHeaderCellDef>Всего получено</th>
          <td mat-cell *matCellDef="let element"> {{element[2]  | number: '.4'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsStatistics2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsStatistics2;"></tr>
      </table>
<!--      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>-->
    </div>
  </mat-card>
</div>
