.main {
  margin: auto;
  width: 600px;
  max-width: 90%;
}

.card {
  margin: 20px auto;
  text-align: center;
}

.field {
  display: block;
}

.button {
  width: 100%;
  height: 50px;
}

table {
  width: 100%;
}

table th {
  text-align: center;
}
